<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
  </listeners>
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="date.timezone" value="UTC"/>
    <ini name="memory_limit" value="-1" />
  </php>
</phpunit>
